<app-header></app-header>
<!-- Formulario para Crear Categorías -->
<h3>Crear Categoría</h3>
<app-category-manager></app-category-manager>

<!-- Selector de Categorías -->
<h3>Filtrar por Categorías</h3>
<select [(ngModel)]="selectedCategory">
    <option value="">Todas</option>
    <option *ngFor="let category of noteService.getCategories()" [value]="category.id">
        {{ category.name }}
    </option>
</select>

<!-- Sección de Notas -->
<ul class="note-list">
    <!-- Card para Crear una Nueva Nota dentro de la Categoría Seleccionada -->
    <li>
        <app-create-note [selectedCategory]="selectedCategory"></app-create-note>
    </li>

    <!-- Lista de Notas Filtradas -->
    <li *ngFor="let note of filterNotes(); trackBy: trackById">
        <app-note-card [note]="note"></app-note-card>
    </li>
</ul>
